/***********Main Home Page****************/
.text-green {
    color: #4FA812;
}
.homenav {
    height: 82px;
    border-bottom: 1px solid #4fa812;
}
nav .hm-login .input-field input[type = "text"],
nav .hm-login .input-field input[type = "password"] {
    border: 1px solid #9e9e9e;
    width: 94%;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    background: #242529;
}
.error {
    color: red;
}
.hm-login button {
    margin-top: 14px;
}
nav .hm-login-rme {
    line-height: 0;
}
nav .hm-login-rme p {
    line-height: 0;
    padding: 0;
    margin: -6px 0
}
nav .hm-login-rme a {
    font-size: 14px;
    text-decoration: underline;
    color: #9e9e9e;
}
nav .brand-logo.hm-logo {
    padding: 10px 0;
}
.brand-logo img {
    margin-top: 12px;
}
.btn, .btn-large, .btn-flat {
    padding: 0 0.6rem;
}
nav .brand-logo {
    position: relative;
}
nav .nav-wrapper {
    height: 64px;
    padding: 0 30px;
}
nav .hm-login-rme [type="checkbox"] + label {
    line-height: 16px;
    padding-left: 22px;
}
nav .hm-login-rme .filled-in[type="checkbox"]:not(:checked) + label::after,
nav .hm-login-rme .filled-in[type="checkbox"]:checked + label::after {
    width: 16px;
    height: 16px;
}
nav .hm-login-rme .filled-in[type="checkbox"]:checked + label::before {
    height: 10px;
    left: 0;
}
.hm-register-holder h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
    margin: 4px 0 22px;
    text-align: center;
    text-transform: uppercase;
}
.home-width {
    max-width: 1200px !important;
    margin: 0 auto;
}

.home-first-section {
    background: url("../../images/material/cricket.jpg") no-repeat scroll center center / cover;
    min-height: 580px;
    max-width: 100%;
    min-width: 100%;
    padding-top: 30px;
}

.home-first-section h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    line-height: 46px;
    margin: 0 auto 10px;
    text-align: center;
    font-weight: bold;
    padding: 80px 0;
    width: 100%;
}
.home-first-section h1 span {
    font-size: 50px;
    color: #E4FF00;
}

.home-first-section h3 {
    text-transform: uppercase;
    color: #F8D237;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    width: 510px;
    padding-bottom: 4px;
}

.hm-top-sname {
    color: #fff;
    font-size: 62px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin: 0 auto;
    width: 690px;
}

.hm-top-sname span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    right: 12px;
    top: 2px;
}

.hm-play-dfc {
    text-align: center;
    padding: 20px 0;
}

.hm-top-img {
    width: 142px;
    height: 100px;
    margin: 0 auto;
}

.hm-play-dfc .btn {
    border-radius: 0;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 200px;
    height: 60px;
    padding-top: 12px;
}

.hm-play-dfc .play-promo {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 4px;
    cursor: pointer;
}

.next-match-title {
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.home-second-section {
    background: #fff;
    height: 646px;
    max-width: 100%;
    min-width: 100%;
    padding: 40px 0;
    text-align: center;
}

.home-second-section .row .col {
    position: relative;
}

.hm-arrow {
    position: absolute;
    background: url("../../images/material/hm-arrow.png") no-repeat;
    width: 126px;
    height: 55px;
    top: 270px;
    left: 338px;
}

.home-second-section h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.home-second-section h3 {
    font-size: 94px;
    font-weight: bold;
    color: #4FA812;
}

.home-second-section p {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.home-third-section {
    background: #4FA812;
    min-height: 300px;
    max-width: 100%;
    min-width: 100%;
    padding: 30px 0 74px;
}

.hm-winner-holder {
    border: 1px solid #D8FF00;
    text-align: center;
    background: #479810;
}
.hm-winner-holder h4 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.hm-winner-holder p {
    font-size: 18px;
    color: #000;
    margin: 0;
    font-weight: bold;
}
.hm-winner-holder h5 {
    font-size: 30px;
    color: #D8FF00;
    font-weight: bold;
}
.home-third-section h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    color: #fff;
    text-align: center;
}
.hm-winner-holder img {
    border-radius: 100%;
    border: 4px solid #fff;
}
.hmlb-bat {
    opacity: 0.8;
    width: 340px;
    transition: transform 1s;
    -webkit-transition: transform 1s;
}

.hmlb-bat:hover {
    transform: scale(1.1);
}

.home-third-section h3 span {
    color: #FFF600;
}

.nav-wrapper ul li {
    position: relative;
}

.nav-wrapper ul li.top-promo-btn {
    width: 98px;
    top: -2px;
}

.nav-wrapper ul li.top-promo-btn div {
    position: absolute;
}

.top-login-btn {
    padding-top: 3px;
    font-size: 16px;
    font-weight: bold;
    width: 89px;
    height: 41px;
}

.hm-fixed-header {
    background: #181818;
    border-bottom: 1px solid #8BC34A;
    text-align: center;
    padding: 12px 0 8px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.hm-fixed-header h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.hm-fixed-header h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F8D237;
    margin: 0;
}

.hm-fixed-header .btn {
    width: 140px;
    height: 46px;
    font-size: 20px;
    border-radius: 0;
    font-weight: bold;
    padding-top: 5px;
}

.hm-fixed-header .play-promo {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.home-fixed-width {
    margin: 0 auto;
    width: 800px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/material/loader.png') 50% 50% no-repeat rgb(249, 249, 249);
}

.preload {
    background: #000;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.hm-batimg {
    text-align: center;
    margin-bottom: 10px;
}

/*********** flipclock.css ****************/
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-clock-wrapper ul {
    list-style: none;
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table;
}

.flip-clock-wrapper.clearfix:after {
    clear: both;
}

.flip-clock-wrapper.clearfix {
    *zoom: 1;
}

/* Main */
.flip-clock-wrapper {
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none;
}

.flip-clock-meridium {
    background: none !important;
    box-shadow: 0 0 0 !important;
    font-size: 36px !important;
}

.flip-clock-meridium a {
    color: #313333;
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    /*width: 100%;*/
    /*margin: 1em;*/
    margin: 32px auto 0;
    width: 540px;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 80px;
    font-weight: bold;
    line-height: 87px;
    border-radius: 6px;
    background: #000;
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 87px;
    text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    perspective: 200px;
    margin: 0 !important;
    overflow: visible !important;
    cursor: default !important;
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    /*background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);*/
}

.flip-clock-wrapper ul li a div.down {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #4FA812;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}

.flip-clock-wrapper .flip {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    -webkit-animation: asd 0.5s 0.5s linear both;
    -moz-animation: asd 0.5s 0.5s linear both;
    animation: asd 0.5s 0.5s linear both;
    z-index: 5;
}

.flip-clock-divider {
    float: left;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 100px;
}

.flip-clock-divider:first-child {
    width: 0;
}

.flip-clock-dot {
    display: block;
    background: #4FA812;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 5px;
}

.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: -1.5em;
    right: -86px;
    color: #fff;
    text-shadow: none;
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -88px;
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -91px;
}

.flip-clock-dot.top {
    top: 30px;
}

.flip-clock-dot.bottom {
    bottom: 30px;
}

@-webkit-keyframes asd {
    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

@-moz-keyframes asd {
    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

@-o-keyframes asd {
    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

@keyframes asd {
    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    -webkit-animation: turn 0.5s 0.5s linear both;
    -moz-animation: turn 0.5s 0.5s linear both;
    animation: turn 0.5s 0.5s linear both;
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotateX(90deg);
    }

    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@-moz-keyframes turn {
    0% {
        -moz-transform: rotateX(90deg);
    }

    100% {
        -moz-transform: rotateX(0deg);
    }
}

@-o-keyframes turn {
    0% {
        -o-transform: rotateX(90deg);
    }

    100% {
        -o-transform: rotateX(0deg);
    }
}

@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    -webkit-animation: turn2 0.5s linear both;
    -moz-animation: turn2 0.5s linear both;
    animation: turn2 0.5s linear both;
}

@-webkit-keyframes turn2 {
    0% {
        -webkit-transform: rotateX(0deg);
    }

    100% {
        -webkit-transform: rotateX(-90deg);
    }
}

@-moz-keyframes turn2 {
    0% {
        -moz-transform: rotateX(0deg);
    }

    100% {
        -moz-transform: rotateX(-90deg);
    }
}

@-o-keyframes turn2 {
    0% {
        -o-transform: rotateX(0deg);
    }

    100% {
        -o-transform: rotateX(-90deg);
    }
}

@keyframes turn2 {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

.flip-clock-wrapper ul li.flip-clock-active {
    z-index: 3;
}

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.2s linear both;
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*****Footer******/
.foot {
    background: #333333;
    min-height: 200px;
    padding: 0 40px;
}

.foot-fsta {
    background: url("../../images/material/fsta.png") bottom;
    width: 204px;
    height: 47px;
    margin-bottom: 10px;
}

.foot-fsta:hover {
    background: url("../../images/material/fsta.png") top;
}

.foot h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #CACAD9;
    margin-bottom: 0px;
}

.foot ul {
    margin-top: 6px;
}

.foot ul li a {
    color: #CACAD9;
    font-size: 12px;
}

.foot ul li a:hover {
    color: #4FA812;
}

.footer {
    background: #111111;
    padding: 0 40px;
    color: #CACAD9;
    font-size: 12px;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    color: #cacad9;
}

.foot ul.social-foot {
    margin-top: 14px;
}

.social-foot li {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-foot-fb {
    background: url("../../images/material/fb-icon.png") top;
}

.social-foot-fb:hover {
    background: url("../../images/material/fb-icon.png") bottom;
}

.social-foot-tw {
    background: url("../../images/material/tw-icon.png") top;
}

.social-foot-tw:hover {
    background: url("../../images/material/tw-icon.png") bottom;
}

.social-foot-in {
    background: url("../../images/material/in-icon.png") top;
}

.social-foot-in:hover {
    background: url("../../images/material/in-icon.png") bottom;
}

.social-foot-gp {
    background: url("../../images/material/gp-icon.png") top;
}

.social-foot-gp:hover {
    background: url("../../images/material/gp-icon.png") bottom;
}

.social-foot-pin {
    background: url("../../images/material/pin-icon.png") top;
}

.social-foot-pin:hover {
    background: url("../../images/material/pin-icon.png") bottom;
}

.foot-android {
    margin-right: 12px;
    margin-top: 10px;
}

.foot-logo {
    background: url("../../images/dfc-foot-logo.png");
    width: 371px;
    height: 73px;
    margin: 36px auto;
}

.foot-logo:hover {
    background: url("../../images/dfc-foot-logo.png") bottom;
}

.payment-foot {
    text-align: center;
}

/***end**/

/************************LOGIN************************/
.auth-box {
    background: #fff;
    margin: 0 auto;
    width: 400px;
    min-height: 200px;
}

.auth-left,
.auth-right {
    display: inline-block;
    float: left;
    min-height: 200px;
}

.auth-left {
    width: 400px;
    display: none;
    background: #EEEEEE;
}

.auth-right {
    width: 400px;
    background: #FFF;
    padding: 20px;
}

.auth-logo {
    background: #212121 none repeat scroll 0 0;
    margin: 20px auto 0;
    padding: 10px 0 6px;
    text-align: center;
    width: 400px;
}

.reg-logo {
    width: 600px;
}

.auth-list {
    margin: 0;
}

.auth-list li {
    padding: 6px 16px;
    font-size: 14px;
}

.auth-right h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-weight: bold;
    text-align: center;
}

.auth-right .row .col {
    padding: 0;
}

.reg-auth .row .col {
    padding: 0 0.75rem;
}

.auth-right a {
    color: #4FA812;
    text-decoration: underline;
}

.auth-right .row .forgot-link {
    padding: 10px 0;
}

.auth-right button {
    width: 125px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
}

.shared-divider {
    border-top: 1px solid #3E4649;
    margin: 20px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.shared-divider-label {
    margin-top: -13px;
}

.shared-divider-label span {
    background: #FFF;
    color: #3E4649;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px 10px;
    text-transform: uppercase;
}

.auth-ask {
    margin: 14px 0 14px;
    text-align: center;
}

.auth-social-login {
    text-align: center;
}

.auth-social-login .btn {
    text-align: center;
    width: 150px;
    height: 36px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.auth-social-login .fb {
    background: #4164A6;
}

.auth-social-login .gp {
    background: #CC4332;
}

.reg-auth .auth-left,
.reg-auth .auth-right {
    min-height: 200px;
    margin-bottom: 60px;
}

.reg-auth .auth-ask {
    margin: 24px 0 4px;
}

.reg-auth .auth-right,
.reg-auth {
    width: 600px;
}

.reg-agree {
    font-size: 12px;
    margin-bottom: 8px;
}
.reg-captcha {
    height: 42px;
}

.reg-auth .auth-social-login div:first-child {
    text-align: right;
}

.reg-auth .auth-social-login div:last-child {
    text-align: left;
}

.auth-right .row .forgot-pwd-btn {
    text-align: center;
}

.auth-right .row .forgot-pwd-btn button {
    text-transform: none;
    width: 210px;
}

.auth-right h4 {
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 1180px) {
    .maximum-width {
        width: 100%;
    }

    .payment-foot img {
        width: 100%;
        height: auto;
    }

    .social-foot li {
        float: left;
        margin-left: 2px;
    }

    .home-first-section h1 {
        font-size: 17px;
    }

    .home-second-section p {
        font-size: 16px;
    }

    .hm-arrow {
        display: none;
    }

    .brand-logo img {
        width: 180px;
    }

}